/*---------------
  Google Fonts
------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*--------------
  Global Style
----------------*/
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/*---------------
  Header Style
----------------*/
.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}
/*---------------
  Left Section 
----------------*/
.left-section {
  display: flex;
  align-items: center;
}
.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo {
  height: 20px;
}
/*----------------
  Middle Section
-----------------*/
.middle-section {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}
.search-bar {
  flex: 1;
  height: 34px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto;
  font-size: 16px;
}
.search-button {
  height: 34px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}
.voice-search-button {
  height: 34px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}
.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}

/*----------------
  Right Section
-----------------*/

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.apps-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-icon {
  height: 24px;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
.profile-icon {
  height: 32px;
  border-radius: 16px;
}

/*---------------
  Sidebar Style
----------------*/
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  border-right: 1px solid rgb(228, 228, 228);
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link-text {
  font-family: Roboto;
  font-size: 10px;
}

/*---------------
  Videos Style
----------------*/

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 40px;
}

.video-thumbnail {
  margin-bottom: 12px;
  position: relative;
}

.thumbnail {
  width: 100%;
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  padding: 4px;
  border-radius: 2px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  bottom: 8px;
  right: 5px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}
